$fonts: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$generic_transition: all .15s ease-out;

// Colors
$primary_color: #1f3160;
$primary_hover_color: #293f79;
$primary_border_color: #e0f2f9;

$light_blue_color: #F4FBFF;

$grey_hover_color: #cacbcd;
$grey_active_color: #babbbc;