.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 890px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1127px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1325px) {
  .container {
    width: 1170px;
  }
}