@import "commons";

/*
 *
 * Top Stats Cards
 *
 */
div.top-stats {
    div.ant-card-body {
        padding: 0;

        div.ant-row {
            > div {
                padding: 0 !important;

                a {
                    display: table;
                    width: 100%;
                    padding: 24px;
                }

                &:hover {
                    a {
                        color: $primary_color;    
                    }
                    
                    span.ant-avatar {
                        background: $accent_color;
                        color: #fff;
                        transition: $generic_transition;

                        &.success {
                            background-color: #56da7f;
                        }
                    }
                }

                span.ant-avatar {
                    float: left;
                    margin-right: 15px;
                    background: none;
                    color: #ccc;
                    transition: $generic_transition;

                    &.success {
                        color: #fff;
                        background-color: #56da7f;
                    }
                }

                div {
                    float: left;

                    h5, p {
                        margin: 0;
                    }

                    h5 {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

div.circle {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    &.light {
        background: rgba(256, 256, 256, 0.25);
        color: #fff;
    }

    span, i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        transition: $generic_transition;
        transform-origin: 0 0;
    }

    i {
        font-size: 28px;
        left: 53%;
        opacity: 0;
        transform: scale(0.5) translate(-50%, -50%);

        &::before {
            color: #fff;
        }
    }
}

div.circle-figure {
    &:hover {
        div.circle {
            span, i {
                transition: $generic_transition;
            }

            span {
                opacity: 0;
                transform: scale(0.75) translate(-50%, -50%);
            }

            i {
                opacity: 1;
                transform: scale(1) translate(-50%, -50%);
            }
        }
    }

    div.circle {
        float: left;
        margin-right: 10px;
    }

    div.content {
        h3 {
            color: #fff;
            margin-bottom: 0;
        }

        p {
            opacity: 0.7;
            margin-bottom: 0;
        }
    }
}

// Diamond containers with logos inside
.diamond-logo {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 17px;
    transform: rotate(45deg);
    box-shadow: 4px 4px 30px -7px rgba(70,78,142, 0.2);

    img {
        position: absolute;
        max-width: 25px;
        max-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.widget-core-links {
    div.gutter-row {
        margin-bottom: 30px;
    }
    
    div.diamond-logo {
        float: left;
        margin-right: 25px;
    }

    div.content {
        p.title {
            font-weight: 900;
            font-size: 22px;
            margin-bottom: 0;

            i {
                font-size: 13px;
                margin-top: -6px;
                vertical-align: middle;
                
                &.anticon-caret-up {
                    color: #39e041;
                }

                &.anticon-caret-down {
                    color: #ff5252;
                }
            }
        }
    }
}

// Goals
.ant-carousel {
    .slick-slider.goals {
        p {
            line-height: 17px;
            margin-bottom: 10px;
            margin-top: 15px;
        }

        h4 {
            font-size: 26px;
        }
    }
}

/*
 *
 * Search Modal
 *
 */

div.search-modal {
    button.ant-modal-close {
        display: none;
    }

    div.ant-modal-body {
        padding: 0;
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);

        .ant-input-affix-wrapper .ant-input-prefix {
            left: 15px;
        }

        input.ant-input {
            padding: 22px 35px;
            border-color: #fff;

            &:hover, &:focus {
                border-color: #fff;
                box-shadow: none;
            }
        }

        ul.ant-menu {
            width: 100%;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;

            li {
                margin: 0;

                &:last-child {
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
            }
        }
    }
}