.components-demo {
    div.title-bar {
        margin: 15px 0 30px 0;
        max-width: 500px;
    }

    div.ant-card-body {
        overflow-x: auto;
    }

    h2 {
        margin-top: 30px;
    }

    h3 {
        margin-top: 30px;

        &.title {
            margin-bottom: 20px;
            margin-top: 0;
        }
    }

    h4 {
        margin-bottom: 0;
    }

    hr {
        display: block;
        margin-top: 30px;
        border: none;
    }

    img {
        max-width: 100%;
    }

    div.example {
        margin: 30px 0;
    }

    div {
        &.ant-row {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    div#demo-documentation {
        table {
            width: 100%;
    
            tr {
                border-bottom: 1px solid #efeff2;
    
                &:last-child {
                    border: none;
                }
            }
    
            thead {
                font-weight: 900;
    
                tr {
                    border-bottom: 1px solid #dfdfe4 !important;
                }
            }
    
            th, td {
                padding: 10px 20px 10px 0;
            }
        }
    }
}

div.component-demo {
    margin-bottom: 30px;

    h4 {
        margin-bottom: 15px;
    }
}

div {
    #component-demos {
        // Navigation
        &-breadcrumb {
            div.other-router-integration {
                div.demo-nav {
                    padding-bottom: 6px;
                    margin-bottom: 12px;
                    border-bottom: 1px solid #e2e2e6;

                    a {
                        margin-right: 10px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                div.ant-breadcrumb {
                    background: #fafafd;
                    padding: 15px 30px;
                }
            }
        }

        &-dropdown {
            div.placement button {
                margin: 0 10px 10px 0;
            }
        }

        &-pagination {
            div.mini-size {
                ul {
                    margin-bottom: 15px;
                }
            }
        }

        // Data Entry
        &-auto-complete {
            div.lookup-patterns-uncertain-category {
                .ant-input-affix-wrapper .ant-input-suffix {
                    right: 0;
                }
            }
        }

        &-date-picker {
            span.ant-calendar-picker {
                margin: 0 10px 10px 0;
            }
        }

        &-input-number {
            div.ant-input-number {
                margin-right: 10px;
            }
        }

        &-select {
            div.ant-select {
                margin: 0 10px 10px 0;
            }
        }

        &-switch {
            span.ant-switch {
                margin: 0 10px 10px 0;
            }
        }

        &-time-picker {
            span.ant-time-picker {
                margin: 0 10px 10px 0;
            }
        }

        &-upload {
            div.upload-manually {
                button {
                    margin: 0 10px 10px 0;
                }
            }
        }

        // Data Display
        &-avatar {
            span.ant-avatar {
                margin: 0 10px 10px 0;
            }
        }

        // Feedback
        &-alert {
            br {
                display: none;
            }

            .ant-alert {
                margin-bottom: 15px;
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-tooltip {
            button {
                margin-right: 10px;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-modal, &-notification {
            margin-right: 10px;
        }

        // Other
        &-button {
            div.component-demo {
                div h4 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }

                button {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }

                div.ant-btn-group {
                    margin-right: 10px;

                    button {
                        margin: 0;
                    }
                }
            }
        }

        &-grid {
            .ant-col-1, .ant-col-2, .ant-col-3, .ant-col-4, .ant-col-5, .ant-col-6, .ant-col-7, .ant-col-8, .ant-col-9, .ant-col-10, .ant-col-11, .ant-col-12, .ant-col-13, .ant-col-14, .ant-col-15, .ant-col-16, .ant-col-17, .ant-col-18, .ant-col-19, .ant-col-20, .ant-col-21, .ant-col-22, .ant-col-23, .ant-col-24, .ant-col-lg-6, .ant-col-lg-8 {
                background: #f6f6fb;
                padding: 15px;

                p {
                    margin: 0;
                }
            }

            .ant-row-flex {
                margin-bottom: 30px;
            }
        }

        &-layout {
            div.logo {
                height: 32px;
                background: rgba(255,255,255,.2);
                margin: 16px;
            }

            div.ant-layout {
                background: #f0f2f5;
            }

            div.ant-layout-sider {
                background: #001529;
            }

            div.ant-layout-header {
                i.trigger {
                    font-size: 18px;
                    line-height: 64px;
                    padding: 0 24px;
                    cursor: pointer;
                    transition: color .3s;
                }
            }

            div.ant-layout-header + div.ant-layout-content {
                background: #f0f0f3;
            }

            // Examples
            div.fixed-header, div.header-sider, div.header-sider22, div.header-content-footer {
                .logo {
                    width: 120px;
                    height: 31px;
                    background: rgba(255,255,255,.2);
                    margin: 16px 24px 16px 0;
                    float: left;
                }
            }

            div.fixed-header {
                div.ant-layout {
                    position: relative;
                }

                div.ant-layout-header {
                    position: absolute !important;
                }
            }

            div.component-demo.sider {
                .ant-layout-sider-trigger {
                    position: absolute;
                }
            }

            div.fixed-sider {
                height: 600px;
                overflow-y: scroll;

                div.ant-layout-sider {
                    position: absolute !important;
                    left: 25px !important;
                    height: 558px !important;
                }
            }

            div.basic-structure {
                div.ant-layout {
                    margin-bottom: 30px;

                    div.ant-layout {
                        margin-bottom: 0;
                    }
                }

                div.ant-layout-header, div.ant-layout-sider {
                    color: #fff;
                }

                div.ant-layout-sider, div.ant-layout-content {
                    padding: 20px 50px;
                }

                div.ant-layout-sider {
                    min-height: 100px;
                }
            }
        }
    }
}