@import "commons";

html, body {
    margin: 0;
    font-family: "Nunito Sans", $fonts;
}

* {
    font-family: "Nunito Sans", $fonts;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary_color;
    font-weight: 700;
    font-family: "Nunito", $fonts;
}

h1,
.h1 {
    font-size: 36px;
}
h2,
.h2 {
    font-size: 30px;
}
h3,
.h3 {
    font-size: 24px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
}

a {
    text-decoration: none;
}

pre, code {
    padding: 3px 5px;
    background: #f6f8fa;
    color: $primary_color;
    font-size: 13px;
    border-radius: 3px;
}

pre {
    margin-top: 15px;
    padding: 20px;

    code {
        width: 100%;
        display: block;
    }
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    text-align: center;
}

.paddingTop {
    &-30 {
        padding-top: 30px;
    }
}

.marginTop {
    &-10 {
        margin-top: 10px;
    }

    &-15 {
        margin-top: 15px;
    }

    &-30 {
        margin-top: 30px !important;
    }

    &-60 {
        margin-top: 60px;
    }
}

.marginBottom {
    margin-bottom: 30px;
    
    &-15 {
        margin-bottom: 15px;
    }

    &-20 {
        margin-bottom: 20px;
    }

    &-30 {
        margin-bottom: 30px;
    }
}

table {
    th, td {
        vertical-align: middle;
    }
}

a {
    color: $primary_color;

    &:focus {
        text-decoration: none;
    }
}

.fullheight {
    min-height: 100vh;
}

.block {
    display: block;
}

button, input, optgroup, select, textarea {
    font-family: "Nunito Sans", $fonts;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: $primary_color;
}

.ui.primary.button:hover, .ui.primary.buttons:hover .button:hover,
.ui.primary.button:focus, .ui.primary.buttons:focus .button:focus {
    background-color: $primary_hover_color;
}

div.card {
    padding: 15px;
    background: #fff;
    border-radius: .28571429rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

text {
    animation: fadein 2s;
}

.recharts-cartesian-grid {
    animation: 3s ease 0s normal forwards 1 fadein;
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.gradient-primary {
    background: #ff6f90;
    background: -moz-linear-gradient(-45deg,  #ff6f90 0%, #fca98d 100%);
    background: -webkit-linear-gradient(-45deg,  #ff6f90 0%,#fca98d 100%);
    background: linear-gradient(135deg,  #ff6f90 0%,#fca98d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f90', endColorstr='#fca98d',GradientType=1 );
    color: #fff;
}

.gradient-secondary {
    background: #2196F3;
    background: -moz-linear-gradient(-45deg,  #2196F3 0%, #6c78e4 100%);
    background: -webkit-linear-gradient(-45deg,  #2196F3 0%,#6c78e4 100%);
    background: linear-gradient(135deg,  #2196F3 0%,#6c78e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196F3', endColorstr='#6c78e4',GradientType=1 );
    color: #fff;
}