.ant-card {
    box-shadow: 0 10px 30px -10px rgba(53, 61, 129, 0.1);
    transition: $generic_transition;

    &.hoverable {
        &:hover {
            box-shadow: 0 10px 30px -10px rgba(53, 61, 129, 0.3);
            transition: $generic_transition;
        }
    }

    div.ant-card-head {
        border-bottom: 1px solid rgba(239, 240, 251, 1);
    }
}

.ant-card.gradient-primary, .ant-card.ant-card.gradient-secondary {
    margin-bottom: 15px;
}

.ant-card.gradient-primary {
    background: #ff6f90;
    background: -moz-linear-gradient(-45deg,  #ff6f90 0%, #fca98d 100%);
    background: -webkit-linear-gradient(-45deg,  #ff6f90 0%,#fca98d 100%);
    background: linear-gradient(135deg,  #ff6f90 0%,#fca98d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f90', endColorstr='#fca98d',GradientType=1 );
    color: #fff;
}

.ant-card.gradient-secondary {
    background: #2196F3;
    background: -moz-linear-gradient(-45deg,  #2196F3 0%, #6c78e4 100%);
    background: -webkit-linear-gradient(-45deg,  #2196F3 0%,#6c78e4 100%);
    background: linear-gradient(135deg,  #2196F3 0%,#6c78e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196F3', endColorstr='#6c78e4',GradientType=1 );
    color: #fff;
}

.ant-card .ant-body {
    h1, h2, h3, h4, h5, h6 {
        color: #333;
    }
}

// Widget
.ant-card.widget {
    margin-bottom: 15px;

    div.ant-card-head {
        border: none;
    }

    div.ant-card-head-title {
        padding-bottom: 0;

        div.title {
            float: left;

            p {
                font-size: 14px;
                margin: 0;
                margin-top: 3px;
            }
    
            h4 {
                font-size: 32px;
                margin: 0;
                margin-top: -4px;
            }
        }

        div.actions {
            float: right;
            font-size: 21px;
        }
    }

    div.ant-card-body {
        padding: 0 0 12px 0;

        div.spaced {
            padding: 0 24px;
            
            p {
                margin: 0;
            }
        }
    }
}