@import "commons";

.ant-card {
    box-shadow: 0 10px 30px -10px rgba(53, 61, 129, 0.1);
    transition: $generic_transition;

    &.hoverable {
        &:hover {
            box-shadow: 0 10px 30px -10px rgba(53, 61, 129, 0.3);
            transition: $generic_transition;
        }
    }

    div.ant-card-head {
        border-bottom: 1px solid rgba(239, 240, 251, 1);
    }

    .ant-card-body {
        h1, h2, h3, h4, h5, h6 {
            color: #333;
        }
    }

    &.dark {
        .ant-card-body {
            h1, h2, h3, h4, h5, h6 {
                color: #fff;
            }

            p {
                opacity: 0.8;
            }

            button {
                background: transparent;
                color: #fff;
                font-weight: 900;
                border-color: rgba(256, 256, 256, 0.3);
                padding: 5px 18px;

                &:hover {
                    background: #fff;
                    border-color: #fff;
                    color: $primary_color;
                }
            }
        }
    }
}

.ant-card.gradient-primary, .ant-card.ant-card.gradient-secondary {
    margin-bottom: 15px;
}

.ant-card.gradient-primary {
    background: #ff6f90;
    background: -moz-linear-gradient(-45deg,  #ff6f90 0%, #fca98d 100%);
    background: -webkit-linear-gradient(-45deg,  #ff6f90 0%,#fca98d 100%);
    background: linear-gradient(135deg,  #ff6f90 0%,#fca98d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f90', endColorstr='#fca98d',GradientType=1 );
    color: #fff;
}

.ant-card.gradient-secondary {
    background: #2196F3;
    background: -moz-linear-gradient(-45deg,  #2196F3 0%, #6c78e4 100%);
    background: -webkit-linear-gradient(-45deg,  #2196F3 0%,#6c78e4 100%);
    background: linear-gradient(135deg,  #2196F3 0%,#6c78e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196F3', endColorstr='#6c78e4',GradientType=1 );
    color: #fff;
}

// Widget
.ant-card.widget {
    margin-bottom: 15px;

    div.ant-card-head {
        border: none;
    }

    &.bordered {
        div.ant-card-head {
            padding: 0 24px;
            padding-bottom: 15px;
            border-bottom: 1px solid #eff0fb;
        }
    }

    div.ant-card-head-title {
        padding-bottom: 0;

        div.head-container {
            display: table;
            width: 100%;

            div.title {
                float: left;
    
                p {
                    font-size: 14px;
                    margin: 0;
                    margin-top: 3px;
                }
        
                h4 {
                    font-size: 32px;
                    margin: 0;
                    margin-top: -4px;
                }

                &.center-vertical {
                    margin-top: 8px;
                }
            }
    
            div.actions {
                float: right;
                font-size: 21px;
            }
        }
    }

    div.ant-card-body {
        padding: 0 0 12px 0;

        div.spaced {
            padding: 0 24px;
            
            p {
                margin: 0;
            }
        }
    }
}

.ant-card.center-absolute {
    position: relative;

    div.ant-card-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        text-align: center;

        h3 {
            margin: 0 0 5px 0;
        }

        button {
            margin-top: 10px;
        }
    }

    &.narrow {
        div.ant-card-body {
            max-width: 350px;
        }
    }
}