.ant-card.gradient-primary {
    background: #ff6f90;
    background: -moz-linear-gradient(-45deg,  #ff6f90 0%, #fca98d 100%);
    background: -webkit-linear-gradient(-45deg,  #ff6f90 0%,#fca98d 100%);
    background: linear-gradient(135deg,  #ff6f90 0%,#fca98d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f90', endColorstr='#fca98d',GradientType=1 );
    color: #fff;
}

.ant-card.gradient-secondary {
    background: #353d81;
    background: -moz-linear-gradient(-45deg,  #353d81 0%, #6c78e4 100%);
    background: -webkit-linear-gradient(-45deg,  #353d81 0%,#6c78e4 100%);
    background: linear-gradient(135deg,  #353d81 0%,#6c78e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353d81', endColorstr='#6c78e4',GradientType=1 );
    color: #fff;
}