@import "commons";

.ant-layout {
    background: transparent;
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    font-size: 14px;
    padding: 10px 12px;
}

.ant-btn-group-lg > .ant-btn {
    border-color: #ecf7f8;
}

// Dropdown
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: $accent_light_color;
    
    a {
        color: $accent_color;
    }
}

.ant-dropdown-menu-item-group {
    &.not-first {
        padding-top: 15px;
        border-top: 1px solid #e6e9ec;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li.active {
            background: #f4fcff;
            border-radius: 0;
        }
    }
}

.ant-dropdown-menu-item-group-title {
    color: #000;
    font-weight: 700;
    font-size: 11px;
    padding-top: 10px;
}

// Dropdown items with anchors inside
li.ant-dropdown-menu-item.with-anchor {
    padding: 0;

    a {
        margin: 0;
        padding: 10px 12px;
    }
}

// Select
.ant-select-dropdown-menu-item:hover, .ant-select-dropdown-menu-item-active {
    background-color: #f4fcff;
    color: $primary_color;
}

// Spinner
.ant-spin-nested-loading > div > .ant-spin {
    max-height: 10000px;
}

// Steps
.ant-steps-horizontal {
    // Responsive
    overflow-x: auto;
}

.ant-steps-item-title:after, .ant-steps-item-custom .ant-steps-item-icon > .ant-steps-icon,
.ant-steps-item-title {
    transition: all .1s ease-out;
}

// Datepicker
.ant-time-picker-panel-select li:hover {
    background: #ecf7f8;
    color: $primary_color;
}

// Buttons
.ant-btn-danger {
    color: #f5222d;
    background-color: #fff;
    border-color: #f5222d;
    margin-left: 4px;
}

// Layout
.ant-layout {
    overflow: visible !important;
}

// Message
.ant-message-notice-content {
    padding: 0;
    box-shadow: none;
    background: none;

    div.ant-message-custom-content {
        padding: 10px 16px;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        color: #fff;

        &.ant-message-warning {
            background: #faad14;
        }

        &.ant-message-error {
            background: #f5222d;
        }

        &.ant-message-success {
            background: #52c41a;
        }

        &.ant-message-info, &.ant-message-loading {
            background: $accent_color;
        }

        i.anticon {
            color: #fff;
        }
    }
}

// Table Icons
.ant-table-tbody {
    i {
        &.anticon-check-circle, &.anticon-close-circle {
            font-size: 18px;
            margin-right: 5px;
        }

        &.anticon-check-circle {            
            &:before {
                color: #52c41a;
            }
        }

        &.anticon-close-circle {
            &:before {
                color: #f5222d;
            }
        }
    }
}

// Menu
.ant-layout-sider-trigger {
    background: #fff;

    i {
        &::before {
            color: #333;
        }
    }
}

// Menu
.ant-menu {
    user-select: none;
}

// Carousel
.ant-carousel {
    .slick-slider.light {
        text-align: center;
        height: auto;
        line-height: 18px;
        overflow: hidden;

        ul.slick-dots {
            position: static;
            margin-top: 15px;

            li {
                button {
                    background: $primary_color;
                }
            }
        }
    }
}

// Ant Menu - Custom Dropdowns
li.ant-menu-item.dropdown {
    padding: 0;

    div.ant-dropdown-trigger {
        padding: 0 20px;
    }
}

ul.header-dropdown-tabs {
    width: 300px;
    max-width: 100%;
    
    div.ant-tabs-bar {
        margin-bottom: 0;
    }
}

// Progress bar
div.ant-progress {
    &.short {
        max-width: 180px;
    }
}

// Calendar
div.ant-fullcalendar {
    ul {
        padding: 0;

        &.events {
            overflow-x: hidden;
        }
    }
}