@keyframes zoomIn {
    from {
      opacity: 0;
      right: -50%;
    }
   
    50% {
      opacity: 1;
      right: 0;
    }
}
   
.zoomIn {
    animation-name: zoomIn;
}
   
@keyframes zoomOut {
    from {
      opacity: 1;
    }
   
    50% {
      opacity: 0;
      right: -50%;
    }
}

  .zoomOut {
    animation-name: zoomOut;
  }
   
  .animate{
    animation-duration: 300ms;
  }